@font-face {
  font-family: exoplanetaria;
  src: url(Exoplanetaria.ttf);
}

@font-face {
  font-family: tsuki;
  src: url(NineTsukiRegular.ttf);
}

body,
.dropdown-menu {
  font-family: 'exoplanetaria';
  background-color: #202040;
}

.navbar,
.offcanvas-body,
.card-header,
#item {
  background-color: #543864;
}

#gambar {
  background-color: #FFBD69;
}

.offcanvas-title,
.dropdown-item,
.nav-link,
.nav-link:hover,
.nav-item,
.btn-cari,
.btn-cari:hover,
.header,
.scroll-up,
.judul,
#item,
#merah {
  color: #FF6363;
}

.isi,
.isi-link,
.dropdown-item:hover,
.carousel-caption,
.genre,
#item:hover,
.dropdown-toggle:hover,
.navbar-brand:hover,
.scroll-up:hover,
#deskripsi,
#page:hover,
#cream {
  color: #FFBD69;
}

.info,
.page-link:hover,
.anime,
#review,
.activity,
#menu:hover,
#hitam {
  color: #202040;
}

.anime:hover,
.info:hover,
.isi-link:hover,
#review:hover,
.user,
#menu {
  color: #543864;
}

.navbar-toggler {
  background-color: #FF6363;
  color: #543864;
}

.cari,
.cari:hover {
  background-color: #202040;
  color: #FF6363;
}

.navbar-brand {
  font-family: 'tsuki';
  font-size: xx-large;
  color: #FF6363;
}

.card {
  background-color: #FFBD69;
  color: #202040;
}

.page-link,
.hero:hover {
  background-color: #543864;
  color: #FF6363;
}

.hero {
  background-color: #543864;
  color: #FFBD69;
}

.offcanvas-header {
  background-color: #202040;
}

#head {
  padding-right: 20px;
}

#title {
  padding-left: 25px;
}

#sidebarMenu {
  background-color: #FFBD69;
}